// For custom styling, choose the 'Apply only basic CSS' option in Edit Widget -> Design ->
// Advanced settings to stop the JavaScript adding style attributes.

.actionpanel-widget.progress {

  padding: 1.6rem 2rem;

  .actionpanel-widget-progress-wrapper {
    margin: 1em 0;
    overflow: hidden;
    width: 100%;
  }

  .actionpanel-widget-progress-bar {
    position: relative;
    width: 1px;
    height: 1rem;
    background-color: $default-primary-color;
  }

  .actionpanel-widget-progress-bar-counter {
    display: none;
    text-align: center;
    width: 100%;
  }

  &.actionpanel-widget-progress-striped.actionpanel-widget-styles .actionpanel-widget-progress-bar:after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent
    );
    z-index: 1;
    background-size: 40px 40px; /* stripe size */
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
  }

}
